<p>Response Model :</p>
<div class="input-group">
    <select class="form-select" aria-label="Default select example">
        <option value="1">gpt-oss 20b</option>
        <option value="2">deepseek v3</option>
        <option value="3">llama 70b</option>
    </select>
    <button class="btn btn-dark">Change</button>
</div>
<br />
<button class="btn btn-dark mb-2 w100">New Chat</button>
<hr />
<ul class="list-group">
    <li class="list-group-item"><a href="/">Chat</a></li>
    <li class="list-group-item"><a href="/settings">Settings</a></li>
    <li class="list-group-item"><a href="/about">About This App</a></li>
</ul>
<div class="mt-auto">
    <hr>
    <small class="text-muted">Sigma Project development build</small>

</div>
