@page "/about"

<main>
    <div>
        <header class="surface">
            <nav class="top surface">
                <button class="circle transparent " >
                    <i>arrow_back</i>
                    <a href="/"></a>
                </button>
                <h6>About this app</h6>
                <div class="max"></div>
            </nav>
        </header>

        <div class="responsive scroll ">
            <div class="large-margin">
                <h5>About Sigma Project</h5>
                <p>Proudly coded by M.Karimi.</p>
                <p>Special thanks to <a href="http://metantesan.com/">hikari</a></p>
                <p>Based on LLamaSharp and LLAMA 3.2</p>
                <p>Application version : 1.0 Rc1</p>
            </div>
        </div>
    </div>
</main>