@page "/"

<main>
    <div>
        <header class="surface">
            <nav class="top surface">
                <a class="circle transparent" onclick="ui('#menu')">
                    <i>menu</i>
                </a>
                <div class="max">Sigma Project</div>
                <button class="circle transparent" id="add_button" @onclick=CleanChat>
                    <i>add</i>
                </button>

                <h6></h6>
            </nav>
        </header>

        <div class="scroll" id="chat">

        </div>

        <div>
            <nav class="bottom surface">
                <div class="field label prefix suffix fill round">

                    <input type="text" @bind=Prompt>
                    <label></label>
                </div>
                <button class="circle primary" id="btn_submit" @onclick=ButtonSendClicked>
                    <i>send</i>
                </button>
            </nav>
        </div>
    </div>

    <dialog class="left no-padding" id="menu">
        <nav class="drawer">
            <header>
                <nav>
                    <h1>Σ</h1>
                    <h6 class="max">Sigma Project</h6>
                    <button class="transparent circle large" onclick="ui('#menu')">
                        <i>close</i>
                    </button>
                </nav>
            </header>
            <a href="/options" class="black-text">
                <i>tune</i>
                <span>Options</span>
            </a>
            <a href="/stats" class="black-text">
                <i>analytics</i>
                <span>System Inspector</span>
            </a>
            <a href="/about" class="black-text">
                <i>info</i>
                <span>About this app</span>
            </a>
        </nav>
    </dialog>



</main>