@page "/options"

<main>
    <div>
        <header class="surface">
            <nav class="top surface">
                <a class="circle transparent black-text button" href="/">
                    <i>arrow_back</i>
                </a>
                <h6>Settings</h6>
                <div class="max"></div>
            </nav>
        </header>

        <div class="responsive scroll">
            <a class="row padding transparent" onclick="ui('#dialog-api-key')">
                <div class="transparent"><i>key</i></div>
                <div class="max">
                    <h6 class="small">Change API Key</h6>
                </div>
            </a>

            <a class="row padding transparent" onclick="ui('#dialog-about')">
                <div class="transparent"><i>help</i></div>
                <div class="max">
                    <h6 class="small">About this app</h6>
                </div>
            </a>

            <dialog id="dialog-about">
                <h5>About Sigma Project (Android)</h5>
                <p>Proudly coded by M.Karimi.</p>
                <p>Special thanks to <a href="http://metantesan.com/">hikari</a></p>
                <p>Based on LLamaSharp and LLAMA 3.2</p>
                <p>Application version : 1.0 Rc1</p>

                <nav class="right-align no-space">
                    <button class="transparent link" onclick="ui('#dialog-about')">Confirm</button>
                </nav>

            </dialog>
        </div>
    </div>
</main>